<div class="container">
  <div class="row">
    <div class="col-sm-3 offset-sm-1 my-4">
      <h4 class="text-center bg-light">新規会員登録</h4>
    </div>
  </div>
  <div class="row">
	  <div class="col-sm-10 mt-2">
	    <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
       <%= render "customers/shared/error_messages", resource: resource %>
	    <div class="form-group row">
	    	<label for="inputName" class="col-sm-2 small col-form-label">名前</label>
	      <span class="col-sm-1 pl-4 d-flex align-items-center small">(姓)</span>
	      <div class="col-sm-4">
	      	<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: "姓" %>
	      </div>
	      <span class="col-sm-1 pl-4 d-flex align-items-center small">(名)</span>
	      <div class="col-sm-4">
	      	 <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "名" %>
	      </div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputNameKana" class="col-sm-2 col-form-label small">フリガナ</label>
	      <span class="col-sm-1 pl-4 d-flex align-items-center small">(セイ)</span>
	      <div class="col-sm-4">
	      	<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "form-control", placeholder: "セイ" %>
	      </div>
	      <span class="col-sm-1 pl-4 d-flex align-items-center small">(メイ)</span>
	      <div class="col-sm-4">
	      	 <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "form-control", placeholder: "メイ" %>
	      </div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputEmail" class="col-sm-3 col-form-label small">メールアドレス</label>
	    	<div class="col-sm-4">
	    		<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
	    	</div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputPostalCode" class="col-sm-3 col-form-label small">郵便番号(ハイフンなし)</label>
	    	<div class="col-sm-4">
	    		<%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control", placeholder: "0000000" %>
	    	</div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputAddress" class="col-sm-3 col-form-label small">住所</label>
	    	<div class="col-sm-9">
	    		<%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
	    	</div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputTelephoneNumber" class="col-sm-3 col-form-label small">電話番号</label>
	    	<div class="col-sm-4">
	    		<%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "form-control", placeholder: "0000000000" %>
	    	</div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputPassword" class="col-sm-3 col-form-label small">パスワード(6文字以上)</label>
	    	<div class="col-sm-4">
	    		<%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
	    	</div>
	    </div>
	    <div class="form-group row">
	    	<label for="inputPasswordConfirmation" class="col-sm-3 col-form-label small">パスワード(確認用)</label>
	    	<div class="col-sm-4">
	    		<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
	    	</div>
	    </div>
	    <div class="form-group row">
	    	<div class="col-sm-2 offset-sm-3">
         <%= f.submit '新規登録', class: "btn btn-success" %>
        </div>
	    </div>
     <% end %>
  	</div>
	</div>
	<div class="row">
		<div class="col-sm-3 offset-sm-1 my-4">
      <h4 class="text-center bg-light">既に登録済みの方</h4>
    </div>
    <div class="col-sm-6 offset-sm-3">
      <span>
        <%= link_to "こちら", new_customer_session_path %> からログインしてください。
      </span>
    </div>
	</div>
</div>
