<div class="container">
	<div class="row">
		<div class="col-sm-3 offset-sm-1 my-4">
			<h4 class="text-center bg-light">商品一覧</h4>
		</div>
		<div class="col-sm-1 offset-sm-6 my-4">
			<%= link_to new_admin_item_path do %>
		  <i class="fas fa-plus fa-2x rounded-circle shadow-lg"></i>
		  <% end %>
		</div>
		<table class="table col-sm-10 offset-sm-1">
		  <thead class="thead-light">
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
			  <% @items.each do |item| %>
			  <tr>
			    <td><%= item.id %></td>
			    <td>
			    	<%= link_to admin_item_path(item) do %>
			    	<%= item.name %>
			    	<% end %>
			    </td>
			    <td><%= item.price %></td>
			    <td><%= item.genre.name %></td>
			    <td>
			      <% if item.is_active? %>
			      <span>販売中</span>
			      <% else %>
			      <span>販売停止</span>
			      <% end %>
			    </td>
			  </tr>
			  <% end %>
			</tbody>
    </table>
    <div class="mx-auto">
    	<%= paginate @items %>
    </div>
	</div>
</div>