<div class="container">
	<div class="row">
		<div class="col-sm-5 offset-sm-1 my-4">
			<h4 class="text-center bg-light"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
		</div>
	</div>
	<div class="row">
	  <table class="table-borderless col-sm-8 offset-sm-1 mt-4">
	    <tr>
	      <th class="col-sm-2">会員ID</th>
	      <td class="col-sm-6"><%= @customer.id %></td>
	    </tr>
	    <%= form_with model: [:admin, @customer], local:true do |f| %>
	    <tr>
	      <th class="col-sm-2">氏名</th>
	      <td class="col-sm-6"><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
	    </tr>
	    <tr>
	      <th class="col-sm-2">フリガナ</th>
	      <td class="col-sm-6"><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
	    </tr>
	    <tr>
	      <th class="col-sm-2">郵便番号</th>
	      <td class="col-sm-6"><%= f.text_field :postal_code %></td>
	    </tr>
	    <tr>
	      <th class="col-sm-2">住所</th>
	      <td class="col-sm-6"><%= f.text_field :address %></td>
	    </tr>
	    <tr>
	      <th class="col-sm-2">電話番号</th>
	      <td class="col-sm-6"><%= f.text_field :telephone_number %></td>
	    </tr>
	    <tr>
	      <th class="col-sm-2">メールアドレス</th>
	      <td class="col-sm-6"><%= f.email_field :email %></td>
	    </tr>
	    <tr>
	      <th class="col-sm-2">会員ステータス</th>
	      <td class="col-sm-6">
	        <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "有効" %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会" %>
	      </td>
	    </tr>
    </table>
    <div class="col-sm-2 offset-sm-3 mt-4">
      <%= f.submit '変更を保存', class: "btn btn-success btn-lg" %>
    </div>
    <% end %>
  </div>
</div>
