<h2>注文履歴詳細</h2>
<div>
  <p>購入者 : <%= @order.customer.last_name %><%= @order.customer.first_name %></p>
  <p>注文日 : <%= @order.created_at.strftime('%Y/%m/%d') %></p>
  <p>配送先 : <%= @order.address %></p>
  <p>支払方法 : <%= @order.payment_method %></p>
  <p>注文ステータス :
  <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
  <%= f.select :status, {入金待ち: "入金待ち", 入金確認: "入金確認", 製作中: "製作中", 発送準備中: "発送準備中", 発送済: "発送済"} %>
  <%= f.submit "更新" %>
  <% end %>
  </p>
</div>
<h4>注文内容</h4>
<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |detail| %>
    <tr>
      <td><%= detail.item.name %></td>
      <td><%= addTax(detail.purchase_price) %></td>
      <td><%= detail.amount %></td>
      <td><%= addTax(detail.purchase_price)*detail.amount %></td>
      <td>
        <%= form_with model: detail, url: admin_order_detail_path(detail), local:true do |f| %>
        <%= f.select :making_status, {製作不可: "製作不可", 製作待ち: "製作待ち", 製作中: "制作中", 製作完了: "製作完了"} %>
        <%= f.submit "更新" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <label>
    送料 : <%= @order.delivery_charge %>
　</label>
　<label>
    商品合計 : <%= addTax(@total_price) %>
　</label>
　<label>
    請求金額 : <%= @order.total_payment %>
　</label>
</div>
