<h2>注文履歴詳細</h2>
<div>
  <p>購入者 : <%= @order.customer.last_name %><%= @order.customer.first_name %></p>
  <p>注文日 : <%= @order.created_at.strftime('%Y/%m/%d') %></p>
  <p>配送先 : <%= @order.address %></p>
  <p>支払方法 : <%= @order.payment_method %></p>
  <p>注文ステータス :
  <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
  <%= f.select :status, {入金待ち: 0, 入金確認: 1, 製作中: 2, 発送準備中: 3, 発送済: 4} %>
  <%= f.submit "更新" %>
  <% end %>
  </p>
</div>
<h4>注文内容</h4>
<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |detail| %>
    <tr>
      <td><%= detail.item.name %></td>
      <td><%= addTax(detail.purchase_price) %></td>
      <td><%= detail.amount %></td>
      <td><%= addTax(detail.purchase_price)*detail.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <label>
    送料 : <%= @order.delivery_charge %>
　</label>
　<label>
    商品合計 : <%= addTax(@total_price) %>
　</label>
　<label>
    請求金額 : <%= @order.total_payment %>
　</label>
</div>
