

<li>
 <%= link_to admin_items_path do %>
 <button type="button" class="btn btn-outline-secondary m-2">商品一覧</button>
 <% end %>
</li>
<li>
 <%= link_to admin_customers_path do %>
 <button type="button" class="btn btn-outline-secondary m-2">会員一覧</button>
 <% end %>
</li>
<li>
 <%= link_to admin_path do %>
 <button type="button" class="btn btn-outline-secondary m-2">注文履歴一覧</button>
 <% end %>
</li>
<li>
 <%= link_to admin_genres_path do %>
 <button type="button" class="btn btn-outline-secondary m-2">ジャンル一覧</button>
 <% end %>
</li>
<li>
 <%= link_to destroy_admin_session_path, method: :delete do %>
 <button type="button" class="btn btn-outline-secondary m-2">ログアウト</button>
 <% end %>
</li>